:global ul {
	padding: 0;
}

.ListItem {
	margin-bottom: 10px;
	font-size: 1em;
	background-color: #fffdf8;
	padding: 8px;
	border-radius: 8px;
	list-style: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	transition: all 150ms ease-in-out;
	border: 1px solid rgb(163, 66, 163);
}
.btns {
	margin-left: auto;
}
.btn {
	border: none;
	background: none;
	transition: all 200ms ease-in-out;
	font-size: 1em;
	color: #4a2574;
}
.btn:hover {
	color: #720c99;
	cursor: pointer;
	transform: scale(1.2);
}

.done {
	background-color: #720c99;
	border-radius: 4px;
	color:#fff;
}
.done:hover{
	background-color: #4a2574;
	color:#fff;
}