.container {
	background-color: rgba(255, 255, 255, 0.3);
	max-width: 400px;

	margin: 1em auto;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 8px;
}

.header {
	text-align: center;
}
footer{
  max-width: 400px;
	margin: 2em auto;
	text-align: center;
	color:plum;
	transition: all 150ms ease-in-out;
	font-family: 'Montserrat', sans-serif;
}
footer a{
	color:plum
}
footer a:hover{
	color: #4a2574;
}